<footer class="bg-black py-16 px-32 text-[#B6B0B0] flex gap-16">
    <div class="flex flex-col">
        <span>Audiodescription</span>
        <span>Relations investisseurs</span>
        <span>Informations légales</span>
        <span class="block py-2 border border-[#B6B0B0] text-center mt-6">Code de service</span>
    </div>
    <div class="flex flex-col">
        <span>Centre d'aide</span>
        <span>Recrutement</span>
        <span>Préférences de cookies</span>
    </div>
    <div class="flex flex-col">
        <span>Cartes cadeaux</span>
        <span>Conditions d'utilisation</span>
        <span>Mentions légales</span>
    </div>
    <div class="flex flex-col">
        <span>Presse</span>
        <span>Confidentialité</span>
        <span>Nous contacter</span>
    </div>
</footer>